@model binbash.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>
        <small>$ cat /products/@Html.DisplayFor(model => model.Category.Name)/</small><br />
        @Html.DisplayFor(model => model.Name)
    </h1>
    <hr />
    <p>
        @Html.DisplayFor(model => model.Description)
    </p>
    
    <h4>
        @Html.DisplayFor(model => model.Price)
    </h4>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
