@model binbash.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card card-pad mdc-bg-grey-900 mdc-text-grey-50">
    <div class="card-body">
        <h1>
            <small>$ cat /products/@Html.DisplayFor(model => model.Category.Name)/</small><br />
            @Html.DisplayFor(model => model.Name)
        </h1>
        <hr />
        <div class="col-xs-12">
            @if (Model.ImageURL == null)
            {
                <img src="~/Content/Images/logo-black.png" class="img-responsive product-detail-img" />
            }
            else
            {
                <img src="@Model.ImageURL" class="img-responsive product-detail-img" />
            }
        </div>
        <p>
            @Html.DisplayFor(model => model.Description)
        </p>
        <div class="mdc-text-grey-50">
            @using (Html.BeginForm("AddToCart", "Cart"))
            {
                <label for="Quantity-@Model.Id">Quantity</label>
                <input type="number" placeholder="Quantity" name="Quantity" id="Quantity-@Model.Id" value="1" min="1" />
                <input type="hidden" name="id" value="@Model.Id" />
    <div>
        <a class="btn btn-fab btn-raised btn-primary" href="@Url.Action("Index", "Products")">
            <i class="fa fa-arrow-left"></i>
        </a>
        <button class="btn btn-success pull-right">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            @Html.DisplayFor(model => model.Price)
        </button>
    </div>
            }
        </div>
    </div>
</div>
