@model IEnumerable<binbash.Models.Category>

@{
    ViewBag.Title = "All Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach(var category in Model) {
    <section class="row">
        <div class="col-sm-12">
            <h2>
                <small>$ ls -lah /Products/</small><br />
                @Html.DisplayFor(modelItem => category.Name)
            </h2>

            @foreach(var product in category.Products) {
                <div class="panel panel-default product-card">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>
                                    @Html.DisplayFor(modelItem => product.Name)
                                </h3>
                            </div>

                            <div class="col-xs-6">
                                <a href="@Url.Action("Cart", "Cart")" class="btn btn-success btn-block">
                                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                    @Html.DisplayFor(modelItem => product.Price)
                                </div>
                            </div>

                            <div class="col-xs-6">
                                @Html.ActionLink(
                                    "Details",
                                    "Details",
                                    new { id = product.Id },
                                    new { @class = "btn btn-primary btn-block details-btn" }
                                )
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
}
