@model IEnumerable<binbash.Models.Category>

@{
    ViewBag.Title = "All Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach(var category in Model) {
    <div class="container-fluid">
        <div class="col-md-10 col-md-offset-1">
            <div class="card card-pad mdc-bg-grey-900 mdc-text-grey-50">
                <div class="card-body">
                    <h2>
                        <small>$ ls -lah /Products/</small><br />
                        @Html.DisplayFor(modelItem => category.Name)
                    </h2>

                    <hr />

                    <ul class="no-list">
                        @foreach(var product in category.Products) {
                            <li class="text-center product-list col-sm-6 col-lg-4">
                                <div class="mdc-text-grey-900 panel panel-default product-card">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h3>
                                                    @Html.DisplayFor(modelItem => product.Name)
                                                </h3>
                                            </div>
                                            <div class="col-xs-12 product-img">
                                                <a href="@Url.Action("Details", "Products", new { id = product.Id })">
                                                    @if(product.ImageURL == null) {
                                                        <img src="~/Content/Images/logo-black.png" class="img-responsive" />
                                                    } else {
                                                        <img src="@product.ImageURL" class="img-responsive" />
                                                    }
                                                </a>
                                            </div>
                                            <div class="col-xs-12">
                                                @Html.ActionLink("Details", "Details", "Products", new { id = product.Id }, new { @class = "btn btn-primary btn-block details-btn" })
                                            </div>
                                            @using(Html.BeginForm("AddToCart", "Cart")) {
                                                <input type="hidden" name="id" value="@product.Id" />

                                                <div class="col-sm-6">
                                                    <div class="input-group product-quantity">
                                                        <div class="input-group">
                                                            <div class="input-group-addon">Quantity:</div>
                                                            <input type="number" placeholder="Quantity" name="Quantity" id="Quantity-@product.Id" value="1" min="1" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <button type="submit" class="btn btn-success btn-block">

                                                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                                        @Html.DisplayFor(modelItem => product.Price)

                                                    </button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
