@model binbash.Models.CartCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}

<div class="card">
    <div class="card-body">
        <h2>
            <small>$ cat /usr/</small><br />
            Cart
        </h2>

        <hr />

        @{
            if(Model.CartItems.Count() >= 1) {
                <ul class="list-group">
                    @foreach(var cartItem in Model.CartItems) {
                        <li class="list-group-item">
                            @Html.DisplayFor(modelItem => cartItem.Product.Name) <strong class="pull-right">@Html.DisplayFor(modelItem => cartItem.Product.Price) x@(cartItem.Quantity.ToString()) </strong>
                        </li>
                    }
                </ul>

                @Html.ActionLink("Continue Shopping", "Index", "Products", null, new { @class = "btn btn-default" })
                @Html.ActionLink("Checkout", "Checkout", "Cart", null, new { @class = "btn btn-primary pull-right" })
            } else {
                <h4>Your cart is empty</h4>
                @Html.ActionLink("Back to products", "Index", "Products", null, new { @class = "btn btn-default" })
            }
        }
    </div>
</div>